:root {
	// ### Theme 2

	// #### Backgrounds
	--theme1-Very-dark-desaturated-blue-main-background: hsl(222, 26%, 31%);
	--theme1-Very-dark-desaturated-blue-toggle-background: hsl(223, 31%, 20%);
	--theme1-Very-dark-desaturated-blue-keypad-background: hsl(223, 31%, 20%);
	--theme1-Very-dark-desaturated-blue-screen-background: hsl(224, 36%, 15%);

	// #### Keys

	--theme1-Desaturated-dark-blue-key-background: hsl(225, 21%, 49%);
	--theme1-Desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);

	--theme1-Red-key-background: hsl(6, 63%, 50%);
	--theme1-Red-key-toggle: hsl(6, 63%, 50%);
	--theme1-Dark-red-key-shadow: hsl(6, 70%, 34%);

	--theme1-Light-grayish-orange-key-background: hsl(30, 25%, 89%);
	--theme1-Grayish-orang-key-shadow: hsl(28, 16%, 65%);

	// #### Text

	--theme1-Very-dark-grayish-blue: hsl(221, 14%, 31%);
	--theme1-White-text: hsl(0, 0%, 100%);

	// ### Theme 2

	// #### Backgrounds

	--theme2-Light-gray-main-background: hsl(0, 0%, 90%);
	--theme2-Grayish-red-toggle-background: hsl(0, 5%, 81%);
	--theme2-Grayish-red-keypad-background: hsl(0, 5%, 81%);
	--theme2-Very-light-gray-screen-background: hsl(0, 0%, 93%);

	// #### Keys

	--theme2-Dark-moderate-cyan-key-background: hsl(185, 42%, 37%);
	--theme2-Very-dark-cyan-key-shadow: hsl(185, 58%, 25%);

	--theme2-Orange-key-background: hsl(25, 98%, 40%);
	--theme2-Orange-key-toggle: hsl(25, 98%, 40%);
	--theme2-Dark-orange-key-shadow: hsl(25, 99%, 27%);

	--theme2-Light-grayish-yellow-key-background: hsl(45, 7%, 89%);
	--theme2-Dark-grayish-orange-key-shadow: hsl(35, 11%, 61%);

	// #### Text

	--theme2-Very-dark-grayish-yellow: hsl(60, 10%, 19%);
	--theme2-White-text: hsl(0, 0%, 100%);

	// ### Theme 3

	// #### Backgrounds

	--theme3-Very-dark-violet-main-background: hsl(268, 75%, 9%);
	--theme3-Very-dark-violet-toggle-background: hsl(268, 71%, 12%);
	--theme3-Very-dark-violet-keypad-background: hsl(268, 71%, 12%);
	--theme3-Very-dark-violet-screen-background: hsl(268, 71%, 12%);

	// #### Keys

	--theme3-Dark-violet-key-background: hsl(281, 89%, 26%);
	--theme3-Vivid-magenta-key-shadow: hsl(285, 91%, 52%);

	--theme3-Pure-cyan-key-background: hsl(176, 100%, 44%);
	--theme3-Pure-cyan-key-toggle: hsl(176, 100%, 44%);
	--theme3-Soft-cyan-key-shadow: hsl(177, 92%, 70%);

	--theme3-Very-dark-violet-key-background: hsl(268, 47%, 21%);
	--theme3-Dark-magenta-key-shadow: hsl(290, 70%, 36%);

	// #### Text

	--theme3-Light-yellow: hsl(52, 100%, 62%);
	--theme3-Very-dark-blue: hsl(198, 20%, 13%);
	--theme3-White-text: hsl(0, 0%, 100%);
}